@font-face {
  font-family: 'SFUIText';
  src: url('../fonts/SFUIText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Century Gothic Regular';
  src: url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
